# $Id: aprsfeed.service,v 1.12 2021/05/04 03:24:48 karn Exp $
# Systemd startup module for APRS network feed - requires configuration with callsign and authenticator!
# Phil Karn, KA9Q Feb 2021

[Unit]
Description=APRS IGate
Requires=network-online.target

[Service]
User=igate
SupplementaryGroups=radio
Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/touch /var/log/igate.log
ExecStartPre=/bin/chown igate /var/log/igate.log

# For aprs telemetry sequence
ExecStartPre=/bin/touch /var/lib/ka9q-radio/telem-seq.txt
ExecStartPre=/bin/chown igate /var/lib/ka9q-radio/telem-seq.txt

# set CALL and SERVER and others in /etc/radio/igate.conf
EnvironmentFile=/etc/radio/igate.conf
ExecStart=/usr/local/sbin/igate -I $AX25 -u $CALL -h $SERVER -f /var/log/igate.log $LAT $LON $ALT -S "${SYMBOL}" $OVERLAY -B $BEACONING -T /var/lib/ka9q-radio/telem-seq.txt -C "${COMMENT}" $GPSDHOST -M $MOBILE
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
