# service file for starting the powerlogger

[Unit]
Description=Log receive power
Requires=network-online.target

[Service]
User=radio
SupplementaryGroups=radio
Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/touch /var/log/powerlogger.log
ExecStartPre=/bin/chown radio /var/log/powerlogger.log
EnvironmentFile=/etc/radio/powerlogger.conf
ExecStart=/usr/local/sbin/powerlogger -I ${STATUS} -s "${FREQ}" -G ${GPSDHOST} -r ${REFRESH} -n ${SNR} -L /var/log/powerlogger.log -p ${PGPASSFILE}
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
